	/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/

.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-front {
	z-index: 100;
}

.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}

.ui-widget-content .ui-state-focus {
	border: 1px solid #cccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}

.ui-menu {
	list-style:none;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	cursor: pointer;
}
.ui-menu .ui-menu-item a {
	white-space:nowrap;
	text-decoration:none;
	display:block;
	padding:.2em .5em;
	line-height:1.5;
	font-size:10pt;
	zoom:1;
}
.ui-menu .ui-state-focus {
	margin: -1px;
}